- var buttonStylePrimary  = ['btn', 'btn-primary']

- var fieldLabelName      = 'Наименование'
- var fieldLabelId        = 'ID'
- var fieldLabelState     = 'Состояние'
- var fieldLabelLocation  = 'Локация'

- var buttonTextSubmit    = 'Создать'
- var buttonTextReset     = 'Сброс'
- var buttonTextRequest   = 'Запрос'
- var buttonTextAdd       = 'Добавить'    
- var buttonTextSave      = 'Сохранить'    
- var buttonTextClose     = 'Закрыть'    

- var nameColumn          = 'Наименование'
- var editColumn          = 'Править'
- var stateColumn         = 'Сост.'
- var archColumn          = 'В архив'
- var archTableName       = 'Архив'

- var menuBrand           = 'Главная страница'
- var menuInstructions    = 'Инструкции'
- var menuAbout           = 'О нас'
- var menuContacts        = 'Контакты'
- var menuLogin           = 'Войти'
- var menuUsers           = 'Пользователи'

- var placeholderPassword = 'логин'
- var placeholderLogin    = 'пароль'

